<!--http://127.0.0.1:8000/users/-->

{% extends "base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<div class="container py-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Список пользователей</h1>
        <a href="{% url 'users:user_create' %}" class="btn btn-primary">Создать нового</a>
    </div>

    <table class="table table-dark table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Полное имя</th>
                <th>Дата создания</th>
                {% if request.user.is_authenticated %}
                    <th>Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.get_full_name }}</td>
                <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
                <td>
                    {% if request.user.is_authenticated and request.user == user or request.user.is_superuser %}
                        <a href="{% url 'users:user_update' user.pk %}" class="btn btn-sm btn-warning">Изменить</a>
                        <a href="{% url 'users:user_delete' user.pk %}" class="btn btn-sm btn-danger">Удалить</a>
                    {% else %}
                        <p>У вас нет доступа</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
