<!--http://127.0.0.1:8000/users/id/update/-->
<!--http://127.0.0.1:8000/users/create/-->

{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}
    {% if form.instance.pk %}
        Изменить пользователя
    {% else %}
        Регистрация
    {% endif %}
{% endblock %}

{% block content %}
<div class="container py-5 d-flex justify-content-center">

    <div class="card-custom p-4 shadow-sm" style="max-width: 400px; width: 100%;">

        <h1 class="mb-4">
            {% if form.instance.pk %}
                Изменить пользователя
            {% else %}
                Регистрация
            {% endif %}
        </h1>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form layout='vertical' label_class="form-label text-start" field_class="form-control" %}
            <button type="submit" class="btn btn-primary w-100 mt-3">
                {% if form.instance.pk %}
                    Изменить
                {% else %}
                    Зарегистрировать
                {% endif %}
            </button>
        </form>

    </div>
</div>

<style>
.card-custom {
    background-color: #1f2937;
    border-radius: 12px;
}
.form-text {
    color: #d1d5db;
}

.is-invalid + .invalid-feedback,
.invalid-feedback {
    color: #f87171;
}
</style>
{% endblock %}
